name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          
      - name: Install Ollama and AI Model
        run: curl -fsSL https://ollama.com/install.sh | sh && ollama serve && ollama run gemma3:1b
        
      - name: Install python dependencies
        run: python3 -m pip install yt-dlp -U && python3 -m pip install yt-dlp --upgrade

      - name: Install dependencies
        run: npm install && npm update

      - name: Start application
        run: npm start
